<div
  class="bg-cover bg-center h-screen relative"
  style="background-image: url('/hero.jpg');"
>
  <div class="flex items-center justify-center h-full relative z-20 flex-col">
    <img
      src="/coffee-logo.png"
      alt=""
      class="absolute top-0 right-0 md:right-20 w-80 h-auto"
    />
    <div class="text-center bg-black bg-opacity-50 p-8 rounded-lg">
      <p class="text-white text-2xl font-light tracking-wide mb-2">
        The Power of
      </p>
      <h1 class="text-white text-6xl font-bold tracking-wider mb-4">Coffee</h1>
      <p class="text-white text-lg font-medium italic">since 2000</p>
    </div>
  </div>
</div>
