---

---

<div class="grid grid-cols-1 md:grid-cols-2 mt-6 relative">
  <img
    src="https://max-themes.net/demos/craft/upload/since_1997.png"
    class="absolute inset-1/2 transform -translate-x-1/2 -translate-y-1/2"
    alt=""
  />
  <div
    class="bg-[#54595F] text-white flex justify-center items-start p-8 flex-col"
  >
    <h1 class="text-4xl mb-7">Historia</h1>
    <p class="w-4/5 text-xl">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex quaerat
      laudantium, mollitia corporis voluptas totam?
    </p>
  </div>
  <div>
    <img
      src="https://max-themes.net/demos/craft/upload/jonathan-borba-5G9uIkAXLSc-unsplash.jpg"
      alt=""
    />
  </div>
</div>
